<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div data-spy="affix" data-offset-top="300">
      <h3 id="heading">search for flights</h3>
      <hr>
      <form class="form">
        <div class="row">
          <div class="form-group col-md-5">
            <label>Select Departure City</label>
            <select class="form-control" ng-model="search.departureObj" placeholder="Select Departure City"
            ng-options="option as option.cityname + ' (' + option.iatacode + ')' for option in search.iataData" required=""></select>
          </div>
          <div class="form-group col-md-2 text-center">
            <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
          </div>
          <div class="form-group col-md-5">
            <label>Select Destination City</label>
            <select class="form-control" ng-model="search.destinationObj" placeholder="Select Destination City"
            ng-options="option as option.cityname + ' (' + option.iatacode + ')' for option in search.iataData" required=""></select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label>Select Date: </label>
            <md-datepicker ng-model="search.myDate" md-placeholder="Select date" md-min-date="search.minDate" md-max-date="search.maxDate"></md-datepicker>
          </div>
        </div>

        <!-- <div class="row">
          <div class="form-group col-md-10">
            <label>Seats: </label>
            <input type="text" class="form-control" ng-model="search.adultTravelers" placeholder="Enter number">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <label>Child Passengers: </label>
            <input type="text" class="form-control" ng-model="search.childTravelersAge" placeholder="Enter number">
          </div>
        </div> -->

        <div>
          <a type="submit" href="#/flights" class="btn btn-default" ng-click="search.sendInputDetails()">Search Flights</a>
        </div>
      </form>
    </div>
  </div>

</div>
